@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Rubik', normal;
}
.header{
  box-shadow: 0px 4px 20px rgba(232, 232, 232, 0.61);
}
.slider-right-shadow::after{
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  width: calc(100%/3);
  background:transparent;
  z-index: 5;
  box-shadow: inset -55px 0px 10px white !important;
  opacity: 60;
}

@media screen and (min-width: 768px) {
  .slider-right-shadow::after{
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 100px;
    background:transparent;
    z-index: 5;
    opacity: 60;
    overflow: inset;
    box-shadow: inset -60px 0px 10px white !important;
  }
}

.swiper-slide{
  width: auto !important;
  opacity: 0.25;
  display: inline-block;
}
.swiper-slide-visible{
  opacity: 1;
}
.swiper-slide-duplicate-active{
  opacity: 0.6;
}
.s-button-next{
  position: absolute;
  right: 0;
  z-index: 10;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
}
.swiper-button-disabled{
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
}
.s-button-prev{
  position: absolute;
  left: 0;
  z-index: 10;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
}
.swiper-button-next::after{
  display: none;
}

.pressed{
  background: rgba(187, 202, 243, 0.4);
}

.popup{
  background: rgba(0, 0, 0, 0.6) !important;
}
.input{
  background: rgba(29, 78, 216, 0.6);
}
